<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <form>
        <ion-item lines="full">
            <ion-label position="floating">Mobile Number</ion-label>
            <ion-input type="text" required></ion-input>
        </ion-item>
        <ion-row>
            <ion-col>
                <ion-button type="submit" color="danger" expand="block">Send OTP</ion-button>
            </ion-col>
        </ion-row>
    </form>
</ion-content>
